<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">

  <!-- link to favicon -->
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
  <link rel="mask-icon" href="images/safari-pinned-tab.svg" color="#28a745">

  <!--Bootstrap-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <!--Our Style Sheet-->
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <!-- load web fonts -->
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans|Fira+Sans+Condensed|Fira+Sans+Extra+Condensed" rel="stylesheet">
  <!-- Font Awesome Icons -->
  <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>

  <title>Strive — Accomplish your goals</title>
</head>

<body>
  <!-- begin navbar: lives behind hamburger button at small sizes -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="https://github.com/leo-daniel/project-two" id="app-name"><img src="/images/strive.svg"
        width="30" height="30" class="d-inline-block align-top" alt="logo"> Strive</a>

    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li>
          <!-- navigate to index -->
          <a class="nav-link" href="/">Today</a>
        </li>
        <li class="nav-item">
          <!-- navigate to calendar -->
          <a class="nav-link" href="/calendar">Calendar</a>
        </li>
        <li class="nav-item">
          <!-- navigate to data submission form -->
          <a class="nav-link" href="/form">Add New</a>
        </li>
        <li class="nav-item">
          <!-- navigate to data submission form -->
          <a class="nav-link" href="/edit">Update</a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- end navbar -->

  {{{body}}}

</body>

<!--Bootstrap Plug in-->
<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/momentjs/2.12.0/moment.min.js"></script>
<script src="/js/userInput.js"></script>
<script src="/js/today.js"></script>

</html>