<link rel="stylesheet" href="/styles/bulma.css">
<style></style>


<div class="calendar is-large">
  <div class="calendar-nav">
    <div class="calendar-nav-previous-month">
      <button class="button is-small is-text">
        <svg viewBox="0 0 50 80" xml:space="preserve">
          <polyline fill="none" stroke-width=".5em" stroke-linecap="round" stroke-linejoin="round" points="45.63,75.8 0.375,38.087 45.63,0.375 "></polyline>
        </svg>
      </button>
    </div>
    <div class="calendar-month">March 2017</div>
    <div class="calendar-nav-next-month">
      <button class="button is-small is-text">
        <svg viewBox="0 0 50 80" xml:space="preserve">
          <polyline fill="none" stroke-width=".5em" stroke-linecap="round" stroke-linejoin="round" points="0.375,0.375 45.63,38.087 0.375,75.8 "></polyline>
        </svg>
      </button>
    </div>
  </div>
  <div class="calendar-container">
    <div class="calendar-header">
      <div class="calendar-date">Sun</div>
      <div class="calendar-date">Mon</div>
      <div class="calendar-date">Tue</div>
      <div class="calendar-date">Wed</div>
      <div class="calendar-date">Thu</div>
      <div class="calendar-date">Fri</div>
      <div class="calendar-date">Sat</div>
    </div>
    <div class="calendar-body">
      <div class="calendar-date is-disabled">
        <button class="date-item">26</button>
      </div>
      <div class="calendar-date is-disabled">
        <button class="date-item">27</button>
        <div class="calendar-events">
          <a class="calendar-event">Default event</a>
        </div>
      </div>
      <div class="calendar-date is-disabled">
        <button class="date-item">28</button>
      </div>
      <div class="calendar-date">
        <button class="date-item">1</button>
      </div>
      <div class="calendar-date">
        <button class="date-item">2</button>
      </div>
      <div class="calendar-date">
        <button class="date-item">3</button>
      </div>
      <div class="calendar-date">
        <button class="date-item is-today">4</button>
      </div>
      <div class="calendar-date" disabled="">
        <button class="date-item">5</button>
      </div>
      <div class="calendar-date">
        <button class="date-item">6</button>
      </div>
      <div class="calendar-date">
        <button class="date-item">7</button>
      </div>
      <div class="calendar-date">
        <button class="date-item badge">8</button>
        <div class="calendar-events">
          <a class="calendar-event is-primary">Primary event</a>
          <a class="calendar-event is-warning">Warning event</a>
          <a class="calendar-event is-danger">Danger event</a>
        </div>
      </div>
      <div class="calendar-date">
        <button class="date-item">9</button>
      </div>
      <div class="calendar-date">
        <button class="date-item">10</button>
      </div>
      <div class="calendar-date">
        <button class="date-item">11</button>
      </div>
      <div class="calendar-date">
        <button class="date-item">12</button>
        <div class="calendar-events">
          <a class="calendar-event">Default event</a>
        </div>
      </div>
      <div class="calendar-date">
        <button class="date-item">13</button>
      </div>
      <div class="calendar-date">
        <button class="date-item">14</button>
      </div>
      <div class="calendar-date">
        <button class="date-item">15</button>
      </div>
      <div class="calendar-date calendar-range calendar-range-start">
        <button class="date-item is-active">16</button>
      </div>
      <div class="calendar-date calendar-range">
        <button class="date-item">17</button>
      </div>
      <div class="calendar-date calendar-range">
        <button class="date-item">18</button>
      </div>
      <div class="calendar-date calendar-range">
        <button class="date-item">19</button>
      </div>
      <div class="calendar-date calendar-range calendar-range-end">
        <button class="date-item is-active">20</button>
        <div class="calendar-events">
          <a class="calendar-event is-success">Success event</a>
        </div>
      </div>
      <div class="calendar-date">
        <button class="date-item">21</button>
      </div>
      <div class="calendar-date">
        <button class="date-item">22</button>
      </div>
      <div class="calendar-date">
        <button class="date-item">23</button>
      </div>
      <div class="calendar-date">
        <button class="date-item">24</button>
      </div>
      <div class="calendar-date">
        <button class="date-item">25</button>
      </div>
      <div class="calendar-date">
        <button class="date-item">26</button>
      </div>
      <div class="calendar-date">
        <button class="date-item">27</button>
      </div>
      <div class="calendar-date">
        <button class="date-item">28</button>
      </div>
      <div class="calendar-date">
        <button class="date-item">29</button>
      </div>
      <div class="calendar-date">
        <button class="date-item">30</button>
      </div>
      <div class="calendar-date">
        <button class="date-item">31</button>
      </div>
      <div class="calendar-date is-disabled">
        <button class="date-item">1</button>
        <div class="calendar-events">
          <a class="calendar-event">Second default event</a>
        </div>
      </div>
    </div>
  </div>
</div>