<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center">Taska</h1>
        <h2>Hi {{name}}</h2>
        <form class="clearfix mb-4" action="POST">
          <div id="quote" class="text-center">
            quotes go here
          </div>
          <div id="progress-report" class="text-center">
            chart.js doughnut chart here
          </div>
          <div id="goal-progress" class="text-center">
            goal progress here
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        <h3>Examples:</h3>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>