<div id="home">
  <!-- begin jumbotron -->
  <div class="jumbotron jumbotron-custom" id="jumbotron">
    <div class="container">
      <!-- header: TODAY VIEW -->
      <h1 class="display-4" id="page-heading">Today</h1>
      <hr class="my-4">
      <!-- daily quote -->
      <p class="lead" id="quote">&ldquo;It is not the mountain we conquer, but ourselves.&rdquo;</p>
    </div>
  </div>
  <!-- end jumbotron -->

  <div class="container">
    <!-- begin goals and progress section -->
    <div class="row">
      <div class="col-12 mb-3">
        <!-- Progress chart here -->
        <h3>Your Projects</h3>
        <div id="progress-report" class="row text-center">
          <div class="col-md-4 col-sm-12" id="chart-container1">
            <canvas id="testChart1"></canvas>
          </div>
          <div class="col-md-4 col-sm-12" id="chart-container2">
            <canvas id="testChart2"></canvas>
          </div>
          <div class="col-md-4 col-sm-12" id="chart-container3">
            <canvas id="testChart3"></canvas>
          </div>
        </div>
        <div class="row mt-4">
          <h3>Goals Tracker</h3>
        </div>
        <div class="row">
          <div id="goal-progress" class="col-md-4 col-sm-12 text-center">
            <canvas id="goalTestChart"></canvas>
          </div>
        </div>
      </div>
    </div>
    <!-- end goals and progress section -->


    <!-- begin due soon and message center -->
    <div class="row">
      <!-- begin due soon section -->
      <div class="col-md-6">
        <div class="card mb-3">
          <div class="card-body">
            <h3 class="card-title">Due Today</h3>
            <ul class="list-group list-group-flush today-container" id="today-list">
              <!-- put the due today items here -->
              {{#each tasks}}
              <!-- TODO: add 'list-group-item-success' on checkbox select -->
              <li class="list-group-item">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="{{this.id}}" data-id="{{this.id}}">
                  <label class="custom-control-label" for="{{this.id}}">{{this.task_name}}</label>
                </div>
              </li>
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
      <!-- end due soon section -->

      <!-- begin message center -->
      <div class="col-md-6 d-none">
        <ul class="list-group mb-3">
          <li class="list-group-item">Cras justo odio</li>
        </ul>
        <a href="form" class="btn btn-primary button float-left mb-3">Form</a>
      </div>
      <!-- end message center -->

    </div>
    <!-- end due soon and message center -->

  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script src="/js/index.js"></script>