<div class="container">
    <div class="row">
        <!--Header Title-->
        <div id="inputHeader" class="col-md-12">
            <h1>Plan Out Your Journey To Success!</h1>
        </div>
    </div>
    <div class="row">
        <!--Buttons for either adding a new task or a new goal-->
        <div id="buttonNewTask" class="col-md-6">
            <button id="newTask" type="button" class="btn btn-info">New Task</button>
        </div>
        <div id="buttonNewGoal" class="col-md-6">
            <button id="newGoal" type="button" class="btn btn-info">New Goal</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

            <!--Form input for Tasks-->
            <form id="taskInputForm">
                <div class="form-row">
                    <!--title of task-->
                    <div class="form-group col-md-12">
                        <label for="inputTitle">Task Title</label>
                        <input type="text" class="form-control" id="inputTitle" placeholder="Name of your task">
                    </div>
                </div>
                <!--Address-->
                <div class="form-group">
                    <label for="inputAddress">Address</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                </div>
                <!--Category and Date-->
                <div class="form-row">
                    <!--Category-->
                    <div class="form-group col-md-5">
                        <label for="inputCategory">Category</label>
                        <select id="inputCategory" class="form-control">
                            <option selected>Choose...</option>
                            <option value="work">Work</option>
                            <option value="personal">Personal</option>
                            <option value="school">School</option>
                        </select>
                    </div>
                    <!--Date Selection-->
                    <div class="form-group col-md-5">
                        <div class="form-group">
                            <label for="inputTaskDate">Select Task Date</label>
                            <input type="date" id="inputTaskDate" max="3000-12-31" min="1000-01-01" class="form-control">
                        </div>
                    </div>
                    <div class="form-group col-md-2"></div>
                </div>
                <!--Piority Level-->
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inputPriority">Priority</label>
                        <select id="inputPriority" class="form-control">
                            <option selected>Choose...</option>
                            <option value="1">High</option>
                            <option value="2">Medium</option>
                            <option value="3">Low</option>
                        </select>
                    </div>
                    <!--Set Hours to Complete Task-->
                    <div class="form-group col-md-3">
                        <label for="inputTaskLength">Hours to Complete</label>
                        <input type="number" id="inputTaskLength" class="form-control" placeholder=".5 Hours" step="0.1">
                    </div>
                    <div class="form-group col-md-5"></div>
                </div>
                <!--Task Notes-->
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="inputNotes">Notes</label>
                        <textarea class="form-control" id="inputNotes" rows="3"></textarea>
                    </div>
                </div>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#successModal" id="submitTask">Add Task</button>
                <button id="show-this" class="float-right btn btn-danger cancelTask">Cancel</button>

                <div class="form-check">
                    <input id="projectCheckbox" type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Assign to a project?</label>
                </div>

                {{!-- Project Assignment --}}
                <div id="projectShowHide">
                    <div class="form-check">
                        <input id="createNewProject" class="form-check-input" type="radio" name="exampleRadios" value="option1">
                        <label class="form-check-label" for="exampleRadios1">
                            Create new project
                        </label>
                    </div>
                    <div class="form-check">
                        <input id="useExistingProject" class="form-check-input" type="radio" name="exampleRadios" value="option2">
                        <label class="form-check-label" for="exampleRadios2">
                            Use existing project
                        </label>
                    </div>

                    {{!-- Project Dropdown --}}
                    <div id="projectInputForm">
                        <div class="form-row">
                            <!--title of Project-->
                            <div class="form-group col-md-12">
                                <label for="inputProjectTitle">Project Title</label>
                                <input type="text" class="form-control" id="inputProjectTitle" placeholder="Name of your Project">
                            </div>
                        </div>
                        <!--Address-->
                        <div class="form-group">
                            <label for="inputProjectAddress">Address</label>
                            <input type="text" class="form-control" id="inputProjectAddress" placeholder="1234 Main St">
                        </div>
                        <!--Category and Date-->
                        <div class="form-row">
                            <!--Category-->
                            <div class="form-group col-md-5">
                                <label for="inputProjectCategory">Category</label>
                                <select id="inputProjectCategory" class="form-control">
                                    <option selected>Choose...</option>
                                    <option value="work">Work</option>
                                    <option value="personal">Personal</option>
                                    <option value="school">School</option>
                                </select>
                            </div>
                            <!--Date Selection-->
                            <div class="form-group col-md-5">
                                <div class="form-group">
                                    <label for="inputProjectDate">Select Project Date</label>
                                    <input type="date" id="inputProjectDate" max="3000-12-31" min="1000-01-01" class="form-control">
                                </div>
                            </div>
                            <div class="form-group col-md-2"></div>
                        </div>
                        <!--Piority Level-->
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="inputProjectPriority">Priority</label>
                                <select id="inputProjectPriority" class="form-control">
                                    <option selected>Choose...</option>
                                    <option value="1">High</option>
                                    <option value="2">Medium</option>
                                    <option value="3">Low</option>
                                </select>
                            </div>
                            <!--Set Hours to Complete Task-->
                            <div class="form-group col-md-3">
                                <label for="inputProjectLength">Hours to Complete</label>
                                <input type="number" id="inputProjectLength" class="form-control" placeholder=".5 Hours" step="0.1">
                            </div>
                            <div class="form-group col-md-5"></div>
                        </div>
                        <!--Project Notes-->
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="inputProjectNotes">Notes</label>
                                <textarea class="form-control" id="inputProjectNotes" rows="3"></textarea>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#successModal" id="inputProjectTask">Add Project and Task</button>
                        <button class="float-right btn btn-danger cancelTask" href="#">Cancel</button>
                    </div>

                    <div id="projectDropdown">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">Projects</label>
                            </div>
                            <select class="custom-select" id="inputExistingProject">
                                <option selected>Choose a project</option>
                            </select>
                        </div>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#successModal" id="inputProjectTask">Add Task to Project</button>
                        <button class="float-right btn btn-danger cancelTask" href="#">Cancel</button>
                    </div>

            </form>
            </div>
            <!--Goal Input Form-->
            <div class="row">
                <div class="col-md-12">
                    <form id="goalInputForm">
                        <div class="form-group">
                            <label for="description">Goal name</label>
                            <textarea class="form-control input-sm" id="inputGoalName" rows="1"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea class="form-control" id="inputGoalDescription" rows="3"></textarea>
                        </div>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#successModal" id="submitGoal">Add Goal</button>
                        <a id="cancelGoal" class="float-right" href="#">Cancel</a>
                    </form>
                </div>
            </div>

            <!-- "Add Success" Modal -->
            <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModal" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="successModal">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>