* {
  font-family: "Fira Sans", sans-serif;
  color: #000;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: #28a745;
}

#app-name {
  font-weight: 500;
}

#home {
  background-image: url("../images/jace-grandinetti-110734-unsplash.jpg");
  background-attachment: fixed;
  background-size: cover;
  margin-bottom: 0%;
}

#add-new {
  background-image: url("../images/michael-benz-258430-unsplash.jpg");
  background-attachment: fixed;
  background-size: cover;
  margin-bottom: 0%;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: -1;
  /* background-color: #c3e6cb; */
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

#jumbotron {
  background-color: transparent;
}

#page-heading {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 600;
}

/* ul {
  list-style-type: none;
} */

#chart-container1,
container2,
container3,
goalTestChart {
  position: relative;
  height: 300;
  width: 300;
}

#goal-progress {
  margin: auto;
}