.list-group-item {
  line-height: 2.5;
}


.navbar-toggler {

  right: 0px;
  position: relative;
  margin-left: auto;
}


.nav-link {
  color: white;
}

ul {
  list-style-type: none;
}

.button {
  position: relative;
  top: 1em;
}

#inputHeader{
  text-align: center;
}

#buttonNewTask{
  text-align: center;
}

#buttonNewGoal{
  text-align: center;
}

#chart-container1, container2, container3{
  position: relative;
  height: 300;
  width: 300;
}
